body {
    background-color: rgb(202, 148, 118);
}

.header {
    height: 100px;
    width: auto;
    background-color: rgb(28, 126, 79);
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    flex-wrap: nowrap;
    margin-top: -8px;
    margin-right: -7px;
    margin-left: -11px;
    align-items: center;
}

.header ul {
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.header ul a{
    text-decoration: none;
    color: white;
}

.header ul:hover a{
    color: #894141;
    font-size: 45px;
    transition: 500ms;
}

.items {
    background-color: rgb(13, 101, 102);
    margin-top: -8px;
    margin-right: -7px;
    margin-left: -11px;
    height: 500px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
   padding-top: 100px;
}

.items .it {
    border-radius: 7%;
    height: 400px;
    border-style: groove;
    width: 300px;
    text-align: center;
    background-color: rgb(62 40 40 / 19%);
   
}
.items .it:hover{
    height: 410px;
    transition: 500ms;
    width: 310px;
    box-shadow: -1px 3px 12px 11px #dddddd8a;
}
.items .it img{
    height: 145px;
    width: 147px;
    border: 4px solid #ececf0;
    border-radius: 50%;
    margin-top: 20px;
}